appdirs==1.4.4
astroid==3.0.1
beautifulsoup4==4.12.2
bs4==0.0.1
coverage==7.3.2
dill==0.3.7
fissix==21.11.13
importlib-metadata==6.8.0
isort==5.12.0
lxml==4.9.3
mccabe==0.7.0
modernize==0.8.0
pipdeptree==2.13.0
platformdirs==3.11.0
pylint==3.0.2
soupsieve==2.5
tomli==2.0.1
tomlkit==0.12.1
unittest-xml-reporting==3.2.0
yapf==0.40.2
zipp==3.17.0
