<!DOCTYPE html>
<html>
<head>
{% include "bootstrap_style.html" %}
<style>
    table.result td.symbol { font-size: 1.5em; }
    td.result-0 { color: #dc3545; }
    td.result-1 { color: #28a745; }
</style>
<title>EHR Data Submission Report for {{ hpo_name }}</title>
</head>

<body>
<nav class="navbar">
  <a class="navbar-brand" href="#">
    <img src="data:image/png;base64,
iVBORw0KGgoAAAANSUhEUgAAAJoAAAAwCAYAAADpeGOfAAAMSmlDQ1BJQ0MgUHJvZmlsZQAAeJyV
VwdYU8kWnltSSWiBCEgJvYlSpEsJoUUQkCrYCEkgocSQEETsyrIKrl1EQF3RVREXd3UFZK2oa2MR
7K7lgYqKsi4WbKi8SQFd93vvfe9839z758w5/ymZe+8MADo1PKk0F9UFIE9SIIuPCGFNSU1jkboB
DVgABjAHZB5fLmXHxUUDKMP3v8vrawBR3i+7KLn+Of9fRU8glPMBQOIgzhDI+XkQ/wIAXsKXygoA
IPpAvfXsAqkST4PYQAYThFiqxFlqXKLEGWpcqbJJjOdAvBcAMo3Hk2UBoN0M9axCfhbk0b4BsatE
IJYAoEOGOJAv4gkgjoR4TF7eLCWGdsAh4wuerL9xZoxw8nhZI1hdi0rIoWK5NJc35/9sx/+WvFzF
cAw7OGgiWWS8smbYtxs5s6KUmAZxnyQjJhZifYjfigUqe4hRqkgRmaS2R035cg7sGWBC7CrghUZB
bApxuCQ3Jlqjz8gUh3MhhisELRIXcBM1vsuE8rAEDWeNbFZ87DDOlHHYGt8GnkwVV2l/SpGTxNbw
3xAJucP8r4pFiSnqnDFqoTg5BmJtiJnynIQotQ1mUyzixAzbyBTxyvxtIPYTSiJC1PzYjExZeLzG
XpYnH64XWyYSc2M0uKpAlBip4dnL56nyN4K4WShhJw3zCOVToodrEQhDw9S1Yx1CSZKmXqxLWhAS
r/F9Ic2N09jjVGFuhFJvBbGpvDBB44sHFsAFqebHY6QFcYnqPPGMbN7EOHU+eBGIBhwQClhAAUcG
mAWygbi9r6kP/lLPhAMekIEsIAQuGs2wR4pqRgKvCaAY/AmREMhH/EJUs0JQCPUfR7TqqwvIVM0W
qjxywEOI80AUyIW/FSovyUi0ZPAAasT/iM6HuebCoZz7p44NNdEajWKYl6UzbEkMI4YSI4nhREfc
BA/E/fFoeA2Gwx33wX2Hs/1sT3hI6CTcI1wldBFuzhQvkX1VDwtMAl0wQrim5owva8btIKsnHoIH
QH7IjTNxE+CCj4eR2HgQjO0JtRxN5srqv+b+Ww1fdF1jR3GloJRRlGCKw9ee2k7aniMsyp5+2SF1
rhkjfeWMzHwdn/NFpwXwHvW1JbYMO4CdwU5g57DDWBNgYcewZqwNO6LEI6vogWoVDUeLV+WTA3nE
/4jH08RUdlLuWu/a6/pBPVcgLFK+HwFnlnSOTJwlKmCx4ZtfyOJK+GPHsNxd3bwBUH5H1K+pl0zV
9wFhnv+syz8OgG8ZVGZ91vGsATj0EADG68866xfw8VgNwJEOvkJWqNbhygsBUIEOfKKM4TfKGjjA
etyBF/AHwSAMTASxIBGkghmwyyK4nmVgNpgHFoNSUA5Wgw2gCmwF28Fu8CPYD5rAYXAC/AYugA5w
FdyCq6cHPAX94DUYRBCEhNARBmKMWCC2iDPijvgggUgYEo3EI6lIOpKFSBAFMg9ZipQja5EqZBtS
h/yMHEJOIOeQTuQm0o30Ii+Q9yiG0lAD1Ay1Q8ehPigbjUIT0eloFpqPFqMl6Eq0Eq1F96KN6An0
AnoV7UKfogMYwLQwJmaJuWA+GAeLxdKwTEyGLcDKsAqsFmvAWuD/fBnrwvqwdzgRZ+As3AWu4Eg8
Cefj+fgCfAVehe/GG/FT+GW8G+/HPxHoBFOCM8GPwCVMIWQRZhNKCRWEnYSDhNPwaeohvCYSiUyi
PdEbPo2pxGziXOIK4mbiPuJxYifxPnGARCIZk5xJAaRYEo9UQColbSLtJR0jXSL1kN6StcgWZHdy
ODmNLCEvIVeQ95CPki+RH5EHKboUW4ofJZYioMyhrKLsoLRQLlJ6KINUPao9NYCaSM2mLqZWUhuo
p6m3qS+1tLSstHy1JmuJtRZpVWr9pHVWq1vrHU2f5kTj0KbRFLSVtF2047SbtJd0Ot2OHkxPoxfQ
V9Lr6Cfpd+lvtRnaY7W52gLthdrV2o3al7Sf6VB0bHXYOjN0inUqdA7oXNTp06Xo2ulydHm6C3Sr
dQ/pXtcd0GPouenF6uXprdDbo3dO77E+Sd9OP0xfoF+iv13/pP59BsawZnAYfMZSxg7GaUaPAdHA
3oBrkG1QbvCjQbtBv6G+4XjDZMMiw2rDI4ZdTIxpx+Qyc5mrmPuZ15jvR5mNYo8Sjlo+qmHUpVFv
jEYbBRsJjcqM9hldNXpvzDIOM84xXmPcZHzHBDdxMplsMttki8lpk77RBqP9R/NHl43eP/oPU9TU
yTTedK7pdtM20wEzc7MIM6nZJrOTZn3mTPNg82zz9eZHzXstGBaBFmKL9RbHLJ6wDFlsVi6rknWK
1W9pahlpqbDcZtluOWhlb5VktcRqn9Uda6q1j3Wm9XrrVut+GwubSTbzbOpt/rCl2PrYimw32p6x
fWNnb5di961dk91jeyN7rn2xfb39bQe6Q5BDvkOtwxVHoqOPY47jZscOJ9TJ00nkVO100Rl19nIW
O2927hxDGOM7RjKmdsx1F5oL26XQpd6leyxzbPTYJWObxj4bZzMubdyacWfGfXL1dM113eF6y03f
baLbErcWtxfuTu5892r3Kx50j3CPhR7NHs/HO48Xjt8y/oYnw3OS57eerZ4fvby9ZF4NXr3eNt7p
3jXe130MfOJ8Vvic9SX4hvgu9D3s+87Py6/Ab7/fX/4u/jn+e/wfT7CfIJywY8L9AKsAXsC2gK5A
VmB64PeBXUGWQbyg2qB7wdbBguCdwY/Yjuxs9l72sxDXEFnIwZA3HD/OfM7xUCw0IrQstD1MPywp
rCrsbrhVeFZ4fXh/hGfE3IjjkYTIqMg1kde5Zlw+t47bP9F74vyJp6JoUQlRVVH3op2iZdEtk9BJ
Eyetm3Q7xjZGEtMUC2K5seti78TZx+XH/TqZODlucvXkh/Fu8fPizyQwEmYm7El4nRiSuCrxVpJD
kiKpNVkneVpyXfKblNCUtSldU8ZNmT/lQqpJqji1OY2Ulpy2M21gatjUDVN7pnlOK512bbr99KLp
52aYzMidcWSmzkzezAPphPSU9D3pH3ixvFreQAY3oyajn8/hb+Q/FQQL1gt6hQHCtcJHmQGZazMf
ZwVkrcvqFQWJKkR9Yo64Svw8OzJ7a/abnNicXTlDuSm5+/LIeel5hyT6khzJqVnms4pmdUqdpaXS
rny//A35/bIo2U45Ip8uby4wgBv2NoWD4htFd2FgYXXh29nJsw8U6RVJitrmOM1ZPudRcXjxD3Px
ufy5rfMs5y2e1z2fPX/bAmRBxoLWhdYLSxb2LIpYtHsxdXHO4t+XuC5Zu+TV0pSlLSVmJYtK7n8T
8U19qXaprPT6t/7fbl2GLxMva1/usXzT8k9lgrLz5a7lFeUfVvBXnP/O7bvK74ZWZq5sX+W1astq
4mrJ6mtrgtbsXqu3tnjt/XWT1jWuZ60vW/9qw8wN5yrGV2zdSN2o2NhVGV3ZvMlm0+pNH6pEVVer
Q6r31ZjWLK95s1mw+dKW4C0NW822lm99/734+xvbIrY11trVVmwnbi/c/nBH8o4zP/j8ULfTZGf5
zo+7JLu6dsfvPlXnXVe3x3TPqnq0XlHfu3fa3o4fQ39sbnBp2LaPua/8J/CT4qcnP6f/fG1/1P7W
Az4HGn6x/aXmIONgWSPSOKexv0nU1NWc2tx5aOKh1hb/loO/jv1112HLw9VHDI+sOko9WnJ06Fjx
sYHj0uN9J7JO3G+d2Xrr5JSTV05NPtV+Our02d/Cfzt5hn3m2NmAs4fP+Z07dN7nfNMFrwuNbZ5t
B3/3/P1gu1d740Xvi80dvh0tnRM6j14KunTicujl365wr1y4GnO181rStRvXp13vuiG48fhm7s3n
fxT+MXhr0W3C7bI7uncq7prerf2X47/2dXl1HekO7W67l3Dv1n3+/acP5A8+9JQ8pD+seGTxqO6x
++PDveG9HU+mPul5Kn062Ff6p96fNc8cnv3yV/Bfbf1T+nuey54PvVjx0vjlrlfjX7UOxA3cfZ33
evBN2Vvjt7vf+bw78z7l/aPB2R9IHyo/On5s+RT16fZQ3tCQlCfjqbYCGBxoZiYAL3YBQE+Fe4cO
AKhT1ec8lSDqs6kKgf+E1WdBlXgBsCsYgKRFAETDPcoWOGwhpsG7cqueGAxQD4+RoRF5poe7mosG
TzyEt0NDL80AILUA8FE2NDS4eWjo4w6Y7E0Ajuerz5dKIcKzwfeOStTeRgVfy78Bj39+ap6ntikA
ACE1SURBVHic7Zx5nFxVmfe/997al67qfd+S7s6ekA0StgQHBEQIAYKKiiAkMC4sbqMgyqLgDDOi
jgoiwoyAGiKQIEsAQQmEJSGQfU93p9N7d21d+3Lvef+4VZWqXpIOBJx5J8/nU91Vt8495znnPOdZ
fs9zSxJCCE7QCfqISf5HM3CC/m/QCUE7QR8LnRC0E/Sx0AlBO0EfCxn+0QxoQsAo4YgkgSRJh9tp
o8csw9udoP+ZJH2YqFPTNEa/WyDL8v9aARBCMNaySJI05rw0TRuzT1n+v208PrCgCaFrkw9DqZRK
T68HoQlI9yUBqiZw2K2UlLgAiEbj9Pf7kOTDA2baFRUWUFBg+3CM/C+lzIHIFWJNCJKJBAaDAVVV
kWU5e2gMBt2ASZKUd5A+DoXwgU2nJMH6N7fR1T2AyWg4zLgkkUymOPP0WZSXF6Uv5U9ECIEkSQwM
+Lhs2S1EInEURUYIUBQZfyDEpUsXce+/fQ2AjRt3ce11P8Fus2RNqKLI+PxBfnjbl7nqS59CVVUU
Rfmg08mj9oM9eDxDGAwyOdMilVJpaKiiuKhgxEGLRGLs2dsxYq6aEFhMRiZPbkCWj8+GZtYvGAzi
9weoq6vNXguFQuzYuRu/P4DZbKKutgZVVXE4HFRXVWb7+LitzTELWmZC/QM+/vmr9zIw4MeYI2iK
rAvAjTdczp23X4umaWNOSgCJRIpEPImiKAghUBSZeCxJKqVm22lCEI8lMSpKjqApxGNJVFUdte8P
QpqmIcsy9923kpWrXqHQ7SCl6ubQoMj4/CF++Ytvctmli9E0DUWRs/fsP9DFJZfdgtGo5AinRDye
pKGhghdfuA+L2ZRdv+PDryCZSuVdczocLDxlPm9veJemiY2UFBeze89eOg510t3dQ1lZKfV1tXg8
XtoOHsTpcNDS3PSRC94xOw6ZjV69Zh1eb5DysiJcBXbcLgdul4OCAjvVVaW8sPZt+vt9eap7VAZk
CVnJfynKSD9IUcbX7lhJoLsBuSwaFAWT0YjRaMSUfmXej6WVJEnKth3+MhqPfJ4zJvBIvuFYNNb8
c6+nUikURaa5eSL7D7Ti9/vZsnUbNdVV+Px+tu/YleXjo6JjEjQhdMFIJJKsXr0Os8lIKpVCVbXs
K5XSTVh39wDP/OUNYOyIMdPnaK8P2u5YSBMCiUzkmjMWIzd/PEIw1j2j3adp+nrB4QAj8xJCoKra
EYKtYyNZlqmsqMDtclFcVIg/MEQ8kSAai+N0OHA6HR9+kKPxcCyNM2bwjfVb2bmzHavVPKoQCaFh
Npl4es06ksnUcfNNjjfJkkQgluTAQIi+oRhyWto+yuSvEPrBk2UZRdGX3x8I0dvrYdATIJFIIkkS
iiKnI/cjR7NjkS6kIv1ekEwmEQKisRhFRYUUut3IgNlspqioEPho/bZj8tEyjKx84hU0TYwZdWqa
wGazsGNHK2+s38pZi+egqlp2Yf/RlHHkn93ew5YuP0lV0OmPMq/WzYozJn7oaPpIlDl0727azZpn
XmfbtgMMDPiJxuIYDQZcbgeVFUXMmDGR006dycnzpxxTkJPZo6lTJmGzWgFobKhDURQkCaZOnozT
4WDO7JNobW/HYjZn232UNG5Byzi9e/Z2sO71zTgc1qzqH40kCTRV8KeVf+WsxXP+x2BqmhDIksSr
e/t5+K12bjqrmZlVBfzLmm1s7QqgAYokHXetpptQSCaT3HHXI/zxTy+TiCcxmYwYDAqyLCEEeDwB
9u7p4K9/3cT996+muaWGa798IZddeta4AwkhBK6Cguxnu92efe9y6ddNJiOTW5rHvH+0cT5MIHPM
UecTq15laChCUWHBESM+VdVwOKy8/sYW9u0/RHNTbdpkfLQCl/GvckmSJKT0dxISwXiS53f0Uuww
Ue224raZuOXcyQhNYABSmuB4c5nRonf/66M8+OAaKiqKcNisaELTuZKktK9oygqlLEts3LCL006d
CeiWQlGOzlmuMIj04JlrYtj74e1H+3y06+OhcdmyDCjo9wd5Ye1baTxrmDYbhQlFUQgEwjz19GvZ
fj5KEmncV5akvFdGyPRFhm3dQ/SH4pTazdQX6majvshOQ4nuFB93IdMEVouJ1rZu/viHlykrK0TT
BClVRQiIxeJ4vQEGPQEGB/2Ew1FAEI8nmDK1gRtvWAYw7kMaCATo7evD6/Olgx3piEI1fF8GPR5U
Vc3T6tFYDH8goM8n3X60/Rxrj8claBmH/4W1b9PR0YfZbMx2KMsy0WicL37hXKqrS7POrH6fhs1i
5uWXNxKJxI4KdXwYymiMpKqxpcvP6q3dPLW5i40HvcRTmi5sAvYPhHi7zYMiS8gy7BsIkdIEmiCL
mR1vygRRGzbsJByOps2krt2j0TizZ7fwxMq7uP9X32LFiiU0NdcSDsfo7fVy9VUXUOC0o6pj45G5
lEgkWP/WO3R2dbN9+07ee3+LrsmH3ZtMHt4nSZJI5eBx0WgM0gc0kUwCoKZSxOOJbPvc+zOkquqY
PI7LdMqyhKpq/PnJv2E0GEeg5U6nja9cv5RoNM7OnW1YrWZUVQ/rLVYTe/d28NLLG7h4yZmo6kdj
Pg0GhX39IR7deJCD3gjnTa3AbTXywPo2at0WblzcjNWk8Nc9fRwYDGMxyCBg0yE/zWUO5I/ALxtO
fn+IjAEHXfANBoXBwQDt7b2cduoMllx0BgDvvb+Hp1e/xmWXLs4K5XgomUpRUlLCvDmzAfjba6/T
3z9Ax6FDCCGYOmUyBw60EYvHKS0pZkJjA3v27mPQ40GWZWZOn0YsHkdNpdi1/wDRaJSqygoKnE5i
sSiapvHe+1uIJ+KYjEbmzZ3DgdY2vD4f0WiMmuoqJk5oHOHPHVWjZU7Sho07eX/zPuw2c9ZsyrJM
OBxl4cLpuFwOPnnOfEwmY57W0n0NmSdWvZpdsOOp1DJ9dfki/Or1AxwYDHP2pDI+N7eW86dWMKfG
xc7eIGu2dWMxKCydVY0iS8SSKp+eUcUX5tehZE/28eNrNCoosOWlroQQGI0GOjv7+da3f8nZn7yR
xZ/4Gv/yvV+TSqncdccKXAWO9D3jY86gKPh8Pvbu2887G9/F7XJhUBQOdhxi1ozp7N/fSjwRp6Gu
lj1799HWfhCP18vCU05m+rRpGI1G+vr6iccTdHV1U1pSQkV5OcFgiFAoTFv7QSwWC6cuOAWTyURb
WztDwSClJSWcfuoC2js6Rg0ajipomfar16wjEU8h5SRwhQBZkfnsZ84G4LTTZjFz5kQikXj2BGqa
ht1uZeO7u9i6dT+SJH0gXGgsygj1y7v7CESTFNqMnNlUiiZE+gU2o0K7JwJAmydMMJbCbjZQ7bLq
wO8wr0waQ3sI8vGpvHuyf0ZSxmVYsGA6doc1DWrLWf5NJiMlJS7MZiOdnQM8/vhLXLrsVi68+Dts
2LgTWZaOCHoP51GWZcxmE9VVVcw+aSYpVWVCQz1ms5lINIKEbjqnTpmMEAKz2YwsyzgddkwmEwBW
q4XTT12Az+dj246dKIqCoihEo1EKCpxIkkRhYSHRWAyb1YrLVYCiKFgto/jvHEXQMkFAX7+XV1/d
hN1uQdP0SFOS9AxBTXUpZWWFtB/sofNQH3PmTCKVyrfVGV9k5apXx7VY4yUBKGmhaPWEAagqsFJb
aNX9CFXQOxRDliUsRh2LavdESGkaxTYzFQVmJAnkrIbR/9vt5lGESUJogtbWbiRJQlVVtDSCL4Qg
MBRK+6eHlzQDtjqdNjRNMKGxim/c9Bl8vmC2kEBRdFBW7wfMZiOFhU7cLgfbth7g81+8gzfWb00L
29EPqKZpuN0u6uvqqKmuyvIhp7G4Sc3NqJpGKBwmFovRUF9HPB7nvc1b2PDuJgKBISwWM5FIJKu9
MnKgahqNjQ3sP9DK5i1baW1to7GhQffv0sslS6OL1BF9tEw4vXr1Orq7BykqcmUhDT0BrjA0FOZz
V/wQTWhISMiyNAJj09JlPy+9tIGbbricsrLCoy7YMZMQqEJQ7bYioTuy+wdCeCIJVE0wp9YNQIcv
ghBQ5bJgVORhal5frcLCgvS73MJLDZvNzLPPrWfF8iW43XqEKqfzmH9aORLEliSJlKpSVlaIosio
qsr11y2lvr6C/7jvT+zZ04HQBGazCbPZmG6joar66C6Xg0AgxL/e+xgLTrlnXIC31WJh1ozpeVFm
SXExhW59/sXFRVitVnx+PyXFRciyzKkLTqG3rw+r1YqroICZ06dhMploaKgnOBSksrJCx+bcLkxG
I6efuoBBj4dp06ZiNBhoaWnGkBbkObNnjQowjyloGd8qHk+yes06LBYzQuSfqEwwkOPfZieX35fA
aDTS2+vhL8++wTVfvvCoCzYeytSkAUypKGBHX4ihWFLXJELw7I4efOEkCxuLOKu5lKFYkoFQHEWW
aCzWa9jyWdffTZvaiEGRyU1G6SZGN21fvvZurr/uYhobK/H5gjz55N95/vk3cTpsw0BsPYia1FKX
81nl/PMWcv55C/n7a+/zwtq32LRpDwcP9uL3RykocGTdjmQyhc1moa2th87OfhoaKo+YkYF0cj9t
/jIky3K2Zk0Igc1mxWbLzwZUlJdnv8/c77DbcaTB3kzRAIDJZKKq8nDJUeZ65rvRaExBy5TBrFv3
Pjt3tuN02keo7gzzeQlpkfmfn0wWQsNsNvLU06/xhS+ch9lkPC5JxYxQL5lZTVwVbDrk54E3DhCI
puj0R7nkpCqWzKjCqMjsGwgRiCaxmRQmlesIuUS+iQeYN3cylZXF+HwhDAYlL2dos5nZvHkfK677
V+x2K/F4gkQihdNpG2FuM8K5ePEcQK+he/a59dz5o0f46lcu5bJLFrN4kR4ddnUP8PLLG7nvZyvz
ICKAVDJFMBTJ9MqxIH3DHfPRMLXcNnlg7xjY22j9Hi1rMKagZfOaq15Jfx7ZRgcWR5K+wKYRm2S1
Wtixo4031m/lE4vnHpegIMOX1Shz1YIGLpqRoMsfxWiQqXVbsZsNCAQC6PBGCCdUZlQWUFtoTeNL
+XNWVY2iogIuvPB0fvWrpygtdZNMHsaYMnlc0P0qs9mUhnPy52Iw6GD1qadOZ/bslux6/fRnf6Kn
28P3v/8gP//5E5x0UjMzZkykpbkWm92SLQDVhV6gaQKLxURxkSvL45FI0zS8Xh8lJcXZzR/0eHC7
XOl8p5QnbJk+vT5fVoYNigGn05E3ltfnRwiN4qKRxaz52YbRZWVUQcvNa65fvw27fWReU5IkZs9u
wWhU0uU2h0+HosgcPNiL1xvMEzbdOdbzn/901tzjiieoQqAIKLKbKLIfVt/ecAK3zYgsQZs3gqoJ
Tp9YgixJOt/Dw/A0mHr9iot58cV3OHSon4IC+zBhy5T3kC7pyddkBoNCPJ7EbDHy3e98ESWt+X99
/1Ps399FcXEBqqoRDsf46yvv8uKL72RTRRnTKYTAYFAIh8PMmDGBiorDgnMk0FsTgmdfWMsnFp9J
XW0t/QODPPf8Wi5fdgl2m42hoSCKQcFu012HVCpFJBLF7w8QT8SprqwCKVO0GScai2UhEiH0tVJV
lWAohNt1WPh9fj8Oux1jjhnNW5PRLmbm8fTq14hEYhTm5DUVRSYYjHLyyVP44+N3jDnhp57+Ozd9
4xd5OVFJknC57Lz55jY6O/uxO6xIspQOneWskCqKklcHr5fNKOkI7XApd+aEAtm6MiHSdWYSPLm5
i7U7e7lhcROzqt282+FlVrWLBY3FutYYRdB1+EVQXOziFz+/mWtX/ITeHg9ulwNZltHGqC/LPrQi
BIGhMBazkZ/99EZmzWpCCIHPH9TLphIpYrEkRqOC2WzEYjGl1zyj+fXcpyxLxGI6En/D15dlo86j
abRUMkljQz0HWttxOBzs3befCRMakWWZjkOH8Hi8qJpGTXU1BU4n72zciNvtpqenl6mTJ+HxenE4
7AwmEuzatQejyUhZaSlmsxmAYCjMvv0HsNl05bPg5Hns3LUbVVVJJJJMntSM0+kcwdcIQctsdl+/
l0cfe5F4PInHE8hLOQWGQlyURrBTKRWDQcm7H+Ccs0+msqKItrYezOkSZl1AFAY9fn77u7/wjZs+
i9c7RDyWyCvl9vmChHLMcjKZwusdIpHIfWZAwesNEEunRQ5vOMjoCer+UBxvJMlTm7t4bd8gdYU2
rj99AoajgMYZ3OqkWc08uerH3POT3/PKK5uIROIYDApGo5ItuxGCdMFnSl8Lo8L8+ZO55btXMmf2
pKxwuF1OHn/0dh5++C88v/Zt+vt8WcA2c4jgcF/JZIrSMjf/fu9XOf20WdkatqORqmo4HQ4a6ut5
/oUXOfeTZ9PbN0A0EmXP3n20NDcTCodpbz+IzW5jQmMj9XW1KIqCqunCYjAY6O7uYc7sWdjtdlRV
Zf+BVowmI0ITVFdX0tLUxPq33qZ/YIBDnV2cNHMGbQcPcqC1jZNmzRzhs40iaPpmDQz4+dT5C7Ba
LYiMLyWB0EAxyJx7zsnpDc+ffEYjOJ02vv2tK3j7nZ15SXhJkkgkkxQXOUmlVK6+6gLi8YS+iOnM
QSQaZ+7cydk+a2vKWL78Qj3Hqh0W+HAkyozpE7L9HmZC/3f1KQ1MqyggGEtRUWBmXl2RLhwc3Wpn
NEh9XQUP/Po7bNm6n7++spEtW/bT0+sh4A9lnzJyOm2UlxcxbWoDixfP5fTTMtUWWl7A1NhQyV13
ruBrX7uMN9/cxoaNu2ht7WLQEyAUjCKEwOG0UVVZzMIF01m6dBFVlSXHVPUiyRKRqF7ceM7Zn6C0
pIS29g4kWcqC5a6CAirLy+no7MzmOFPJJJqwZHkFss8jZKt0hH7AlbQ7ZDGbASnbd011NQUFzpH7
wYd8rvNINJZT+I+mY+VrtMgrkUgyFAyjqrogORxWrBZz3n25Qpa9JgRCEyMOZyyeIBKOoglw2K1Z
czpWPxlt4fcH8Pp8TGhsyF6LxWLs2rOXk2bO0P05YPv2HTRNnIDPH6CzqwuDwUBNdTVOp4N3NmzE
bncQDAaZ1NJMLBbF6XBiNBrZun07RqORqsrKLDaWEfjqqio2b93G9KlTaG1rJxgKIcsyzRMn4nDY
GU5jCpqmibx6s9wHZzPQR0Z1SBI53wky4YtAgBj9gdxMqXIGWR/+fGJmzMzCjhZOa1rGp5OzY+fy
omqZWi/9HlnSTWZ+xHU45M9lMbcf0E+1quoA9miApKqqWc2T+T43bZTbX4b3zDqOEMh0musw9pVf
InQkQcv9fnjwIEkSsXhcB59zqmojkWgWV8vsWSb7EYvHsdtso4IquWOGw2H9AZ4xcLRj0mhHU+Ef
pALzWDRMpv/hp/zDVH4e6f7MfEcbL5eX8ZZa567f8OQ6jIZhSaOuzXgF7UjzPNqafdC2Y9GYOJo/
EDr8zKYmKCsvzPpanZ0DpFJqNgqzmI1UVZUgSRKHOvvp7fVQWVFMTU0ZAD09HsKRmB4iI1Bkmerq
0myer6dnkGAoQktzXXb83j4voVAUg0F3uutqy7OnU5Zlens9HOzopaK8mPr6CgDa23sxm41UVBST
SCTpONRHWWkhLpc9uxiRSIzuHo+O/EsSNdUlGAwGAoEwAwM+DOn5FhcXUFBgz47n8wXZt78Tt8tO
S0tdlhdFUQgGI+zZ24HZbGTypHqMRgPRaJzu7kEURYd/XAU2iotd2flJErS2daEoCvV1Ov/JZIr2
g724XQ5KS90AeL1DDHqGqK8v10HucdBYoOtw4HY4jdY2T+AYXauN9d3whnmUSqWEEEI88l/Pi9r6
paKp5XJRXbdEzF9wjXjrrW0ilVLFWWd/XTROvExMbF4myiouEOd/+htCCCEee3ytmDT1c2LS1M+K
0vJPiR/c/lshhBDXLL9H1DYsFRObl4nquiVi5klXisHBgBBCiHA4Ks457yZRW3+xeHfTbqFpOh9f
v/E+UdtwsWiYeKmoqbtYLL30u6Kjo1cIIcR//mqVmNC8TFRUXygqqi8U37v1fpFIJMWpp18vrl1x
jxBCiN27D4rquiXi0cfWCiGEiMcTQgghXv3bu6Kx6TLRPPkzorruYvFP59wgOg71idVrXhc1dReL
pkmXi5r6i8Ws2VeK555/UwghxB/+9JKYOv0KUVl9oaisuUhcs/xu4fXq/L/40jti9tyrRGXNhaK4
7Hyx6KyvCH8gKN7fvE80tVwumlouF7UNS0XLlM+Khx5+RgghhCaEaG/vEVOmXyHmzL9a9PQMCiGE
OHCgU0ya+lmx6KyvilAoKqLRmDj7kzeKic3LxI6drUIIIVRVFVp6kXw+vzjQ2qb3mb6WTKXEoUOd
w7dVCCFEb1+fGBgcFMlkUoQjESGEEJ1d3cLr9Y5om0gkRDgcFkII0dfXL/oHBvLGOVY6Qq5TEE8k
+Pd7v0pVVQnX//O/c9/Pn2DlH+8kHIoyb94kvv2tzxOLxXE6dfDvgd+sxuWy85sHvsOune00NOj5
sFgsTk11Kff99IasGbLb9QjnlVc3sXtXexrIfZm5cyYBpNM6dh5+6Hvs3XuIr3ztP3j2uTc544xZ
3Pr9B1m65EyuuebT/OXZNykrK8qasUx0m3lucrhjIMkSwWCYe+6+nqaJtXzmc7fx6GNrmTtnMuFI
jLvuWk5Lcy033vQzHnxoDY2NlXzrW79k/vwpfPMbn2PLln3ccutvmNBYxde+ehk33PQzSopdPLnq
bqKROJ3d/bgKHKiqRigU5eabL2fRmbO55yeP8m/3/oElF51JSbGLVX9+lUAgTCAQZvUzr3P9iotJ
qSomk5Ht21u5/4GnUBSZ99/fS1mZe9xlQqlUiraDHVRXV5FIJPD7A0iyRFlpKVarFaPRyP4DrQwM
DjJvzmycDjtGk4lEIsHA4CBmk5mSkmLaD3bQ2dXNyfPmYrPbQAiisRhWi75v0WgUq9WKPxBgaChI
bU31B01B6SrUZremUy4iK1AWi4l9+7r4j5/+Ea93iCuvPJ9ZM1tYdOZsHvrdX1i+/CecccYsZs1q
AvQnbjyeAD+9byVDQyEWLZrDKSdPA+DhR55l8eI5zJ0ziV/+6s9846bPUllZkjVZDocNs9mIJEFx
sYt16zZjtZr50Y+uo6a6lDNOPym9wCpOp5031m/jtDOvQ01pWUQ+f176YhS6nfpvaGj6zx1kHmCx
26zY7VY0oYO2GzbuIhZLcOcdy5k5YyJnnD6Lv/39PV5/YyvTp0+gt8fDA7/+Ni3Ntfzwjodw2K28
9/4e7Da9D6vFgsOur5vVYsZqMRGLxXn8Dy9x3fIleLwBfv/7F7hu+RKMRgOplMr0GRP43SPPIgTM
OqmJzkP9x/QcQ6b49OVX/07ThEa6uruZOmVyttRa0zRCoRDxhF7cWFRUiMPhYGgoyKDnII2JegC9
lCgex+/3YzKZ8Hg81NRU43a52LJtOw31dXQc6sTtcrHx3feYN3f2CBOdoSMggBJmk5Fbb32AT553
M+UVRdx1x/J09KVRVVXMpy84jUuWLmL61EYkCX74gy+z6om7WLbsE7yw9m2u/NJdxOIJFEXG6bTz
6QsWsvTiRcyfp2NkO3a28e6m3USjcTq7BvB4gzy9eh2gR6XhUIRln/k+13/lXj7/+XO5ZOmi7NPw
3d2DAPj8QcLhaDZKKi8r5NxzTmbBgulZfCeXhKbhdNq57QcPseSSf+GUU6bypSs/RTQaw2a38OO7
/4tPnncTCLjzh9fisFtJJlN0dvYDukB7PEPY7RbcbieaEPT1ebFY9Jzn/b9Zzf79nRgMCg67hYd+
9wznnn8zu3Yd5Bc/vwm73cpLL2+ko6OPgUE/fn+IPXs7eOedHbgKHAwNhfn8FecwfdoEZs2cyNVX
XUAoHEU+hmdiM+VJblcBkye1MH3a1HSuUg9ISkqKaZo4AbfLRTyRQAhBLBZHkmWsVgsej5fSkhIm
NNRTXFRIIpFEaBp1dbV0d/fQ1d1DRXk5hzq70sWOVoaCQaLR6JgpsjG5T6VS+HxBfvvgd7lk6SIO
dfSTTKaQJIloNEYwGGFw0E9gKMQ7G3YRicT44lV38vAjzzGhsZKK8iK9PXoqJRiKMOgZIhiK8N77
e4jFEvzXfz+fNQmtbV3U15Xz8CPPkkimiMeT2O1Wnlz1Y+rrK+jpHiSZTHH+eQsoKnSy/Lqf8IPb
H+L8C77J1df8mEQiic8XpGliNT+47Rq+efPnCAajeTlKAE1Af7+X73z7Ctb97dc89ee7KS8vIhKJ
4xkM8J+/+CZXfelTdHcP4PMHWbRoNs0ttdxw433cfufvuOILt7Ppvd1cvuwTnHbaTBYumMbN3/wF
v3lwDTU1ZWiawJAusuzqHuS271/Frbd+id4+D5FwDNBznmVlhfT2DhKJxHA6bDzw4Gpi8QShYASj
wcBddy7nrjuWZ5Pzo/8igBhRmCDSe5f5XgiRXQNNU9E0PfPg9wd010LTv9++Ywc1VZW4XQVpZZLC
HwikIS7dbBYVFhIYGmL3nr3U1dZk85o2u01/YDmdPx2XRss0KisrZP78ydTVVvDju1ZQX1/OY39Y
ixAwb95k7HYLzz63nmeeeYP1b25FlmU+/anT6O/38aO7f4/dbuVn992E2WykqamGhvoKnnvuTdas
eZ11r2+mt89Dd/cAK5ZfxKqVP+LJJ+7mjtuvwWozs3dvB9OnNTJ1agNTJjdwz93X09vnYe2Lb9PU
VMPv//s2JrXU8swzb1BeVsiK5Uswm43MnDmB+vqKbN7tlJOnUFbmzpuXy+Vg/vzJzJzZlI2KhRCU
lbo5+ZQpVFUVc9utVzNv3mR+/+gLlBS7+MOjt7No0WzWrHkdjyfAb3/zXS5f9k8osszDD93CZZcu
5rHHX+Txx1/ixq8vY9GZeunPwoXTKC8v5p+vW8qSi07nz0/9je07WhFC45bvXcmqlT9m1cofceON
y/D7Q/T0DLJo0WxsNjOTJ9XT0lKH1Wpm4cJp2GwZQPjwJhqNhhF1ZQZZprRELxooKy1FkiTsNhtu
VwEOuwOr1UpJcTGhcIS+/n7Ky0opcDppbprI7j17CYUjFBUV4na7UVWVru4eiouLs7/PUVdbS01N
NbIsM2XSJBRZ5kBrq64RpbFTe0fF0UROeKsj4Uf/BZ9kMjWuX9DJDaEhF/TVyC3Uy1zP1NpnPsfj
Sczm8YX8o9FouGDueLkJbtAzAqYciCEXC0umVBRZPmqqKHdtRs77MD9a+scJR0v8/2+kcQG2wxdk
LMoVxIzaPloieLjAjafILpOoPpZxjoVGEwA4PEbu74gMH3+swzh8DuOZ94fhPzczACNxruFtcv9n
5j4aX8PXZrSxRqOPJNd5vBfuHz3OeMYTR0DyT9BHmFQ/QScol/5n/I7UCfr/nk4I2gn6WOiEoJ2g
j4VOCNoJ+ljo/wE/8skeHh1pOAAAAABJRU5ErkJggg==">
  </a>
</nav>
<main class="container">
<h1>
    EHR Data Submission Report for {{ hpo_name }}
</h1>
    <p>This report is for the EHR data submission uploaded to the
        directory <b>{{ folder }}</b> and is current as of <b>{{ timestamp }}</b>. Visit the
        <a href="https://sites.google.com/view/ehrupload">EHR Operations Group Knowledge Repository</a> for more
        information on data submission and evaluation procedures.
    </p>
{% if submission_error is defined %}
    <div class="alert alert-danger">
        Validation failed for the following reason: {{ submission_error }}.
    </div>
{%  endif %}
{% if error_occurred %}
<div class="alert alert-warning">
This report may be incomplete because the submission is still being processed. Please check for an updated report
    in a few hours.
</div>
{%  endif %}

<h2><a name="file-summary">File Summary</a></h2>
<table class="table table-sm table-fixed table-striped table-hover result" id="file-summary">
    <thead class="thead-dark">
    <tr>
        <th class="align-top">File Name</th>
        <th class="align-top">Found <p class="small">File was found. Note: file names are spelling- and case-sensitive.</p></th>
        <th class="align-top">Parsed <p class="small">Format is as described in
            <a href="https://sites.google.com/view/ehrupload/sops/transferring-data-to-the-drc">Transferring Data to the
                DRC</a></p></th>
        <th class="align-top">Loaded <p class="small">Records conform to OMOP and were loaded successfully</p></th>
    </tr>
    </thead>
    <tbody>
    {% set symbol = {0: "&cross;", 1: "&check;"} %}
    {% for (file_name, found, parsed, loaded) in results %}
        <tr>
            <th scope="col" class="w-auto">{{ file_name }}</th>
            <td class="symbol result-{{ found }} w-25">{{ symbol[found] }}</td>
            <td class="symbol result-{{ parsed }} w-25">{{ symbol[parsed] }}</td>
            <td class="symbol result-{{ loaded }} w-25">{{ symbol[loaded] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3><a name="errors">Errors</a></h3>
{% if errors %}
<table class="table table-striped table-hover" id="errors">
    <thead class="thead-dark">
        <tr>
            <th>File Name</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
    {% for (file_name, message) in errors %}
        <tr>
            <td>{{ file_name }}</td>
            <td>{{ message }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
  No errors detected
</div>
{% endif %}

<h3><a name="warnings">Warnings</a></h3>
{% if warnings %}
<table class="table table-striped table-hover" id="warnings">
    <thead class="thead-dark">
        <tr>
            <th>File Name</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
    {% for (file_name, message) in warnings %}
        <tr>
            <td>{{ file_name }}</td>
            <td>{{ message }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info" role="alert">
    No warnings detected
    </div>
{% endif %}

<h2><a name="missing_pii">Missing Participant Records</a></h2>
{% if missing_pii %}
<table class="table table-striped table-hover" id="missing_pii">
    <thead class="thead-dark">
    <tr>
        <th>Missing Participant Record Type</th>
        <th>Count</th>
    </tr>
    </thead>
    <tbody>
    {% for row in missing_pii %}
        <tr>
            <td>{{ row["missingness_type"] }}</td>
            <td>{{ row["count"] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
  No critical PII records missing
</div>
{% endif %}

<h2><a name="nonunique_keys">Non-unique Table Keys</a></h2>
{% if nonunique_key_metrics %}
<table class="table table-striped table-hover" id="nonunique_keys">
    <thead class="thead-dark">
    <tr>
        <th>Table Name</th>
        <th>Duplicate ID Count</th>
    </tr>
    </thead>
    <tbody>
    {% for row in nonunique_key_metrics %}
        <tr>
            <td>{{ row["table_name"] }}</td>
            <td>{{ row["count"] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
  No non-unique table keys detected
</div>
{% endif %}

<h2><a name="heel_errors">Achilles Heel Errors</a></h2>
{% if heel_errors %}
<table class="table table-striped table-hover" id="heel_errors">
    <thead class="thead-dark">
        <tr>
            <th>Analysis ID</th>
            <th>Rule ID</th>
            <th>Error</th>
            <th>Record Count</th>
        </tr>
    </thead>
    <tbody>
    {% for row in heel_errors %}
        <tr>
            <td>{{ row["analysis_id"] }}</td>
            <td>{{ row["rule_id"] }}</td>
            <td>{{ row["heel_error"] }}</td>
            <td>{{ row["record_count"] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
  No Achilles Heel errors detected
</div>
{% endif %}

<h2><a name="completeness">Data Completeness</a></h2>
{% if completeness %}
<table class="table table-striped table-hover" id="completeness">
    <thead class="thead-dark">
        <tr>
            <th>Table</th>
            <th>Column Name</th>
            <th>Null Count</th>
            <th>Concept Zero Count</th>
            <th>Total Row Count</th>
            <th>Percent Populated</th>
        </tr>
    </thead>
    <tbody>
    {% for row in completeness %}
        <tr>
            <td>{{ row['omop_table_name'] }}</td>
            <td>{{ row['column_name'] }}</td>
            <td>{{ row['null_count'] }}</td>
            <td>{{ row['concept_zero_count'] }}</td>
            <td>{{ row['table_row_count'] }}</td>
            <td>{{ "{0:0.2f}".format(row["percent_populated"] * 100) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
  Completeness statistics are not (yet) available for this submission.
</div>
{% endif %}

<h2><a name="drug_checks">Drug Concept Mapping Percentages</a></h2>
{% if drug_class_metrics %}
<table class="table table-striped table-hover" id="drug_checks">
    <thead class="thead-dark">
        <tr>
            <th>Percentage</th>
            <th>Drug Class Concept Name</th>
            <th>Counts by Drug Class</th>
            <th>Drug Class</th>
            <th>Drug Class Concept ID</th>
        </tr>
    </thead>
    <tbody>
    {% for row in drug_class_metrics %}
        <tr>
            <td>{{ row["percentage"] }}</td>
            <td>{{ row["concept_name"] }}</td>
            <td>{{ row["count"] }}</td>
            <td>{{ row["drug_class"] }}</td>
            <td>{{ row["concept_id"] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
  Drug concept mapping statistics are not (yet) available for this submission.
</div>
{% endif %}

<h2><a name="lab_concept_metrics">Lab Concept Summary</a></h2>
{% if lab_concept_metrics %}
<table class="table table-striped table-hover required-lab">
    <thead class="thead-dark">
        <tr>
            <th>Ancestor Concept ID</th>
            <th>Ancestor Concept Name</th>
            <th>Found</th>
        </tr>
    </thead>
    <tbody>
    {% set symbol = {0: "&cross;", 1: "&check;"} %}
    {% for row in lab_concept_metrics %}
        <tr>
            <td>{{ row["ancestor_concept_id"] }}</td>
            <td>{{ row["ancestor_concept_name"] }}</td>
            <td class="symbol result-{{ row["measurement_concept_id_exists"] }} w-25">{{ symbol[row["measurement_concept_id_exists"]] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
  Lab concept summary is not (yet) available for this submission.
</div>
{% endif %}
</main>
</body>
</html>