{% extends "base.html" %}

{% block filler%}
    <h1 class="mt-5"> Validation report </h1>
     <table class="table table-striped">
  <thead>
  <tr>
    <th>hpo_id</th>
    <th>table</th>
    <th>filename</th>
    <th title="A file with the given name was received via file transfer">received</th>
    <th title="The file was parsed successfully as a CSV file">parsed</th>
    <th title="All rows in the file had the minimum required fields and fields were of the correct type">loaded</th>
  </tr>
  </thead>
  <tbody>
  <!--{% for log in logs | sort(attribute='hpo_id')%}
  <tr {% if log.message != null %} class="issue" id="{{ log.hpo_id }}" data-message="{{ log.message | e }}" {% endif %}>
    <td>{{ log.hpo_id }}</td>
    <td>{{ log.table_name }}</td>
    <td>{{ log.file_name }}</td>
    <td>{% if log.received %} &#10004; {% endif %}</td>
    <td>{% if log.parsing %} &#10004; {% endif %}</td>
    <td>{% if log.loading %} &#10004; {% endif %}</td>
  </tr>
  {% endfor %}-->
  </tbody>
  </table>
     <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script>
            $(function() {
                $.getJSON('https://storage.googleapis.com/bamboo-creek-172917.appspot.com/log.json',
                    function(json) {
                    var tr;
                    for (var i = 0; i< json.length; i++){
                        tr = $('<tr/>');
                        tr.append("<td>" + data[i][0] + "</td>");
                        tr.append("<td>" + data[i][1] + "</td>");
                        $('table').append(tr)
                    };
                });
            });
        </script>
{% endblock filler%}
