{% extends "base.html" %}

{% block filler%}
    <h1 class="mt-5"> Validation report </h1>
     <table id='tb' class="table table-striped">
  <thead>
  <tr>
    <th>hpo_id</th>
    <th>table</th>
    <th>filename</th>
    <th title="A file with the given name was received via file transfer">received</th>
    <th title="The file was parsed successfully as a CSV file">parsed</th>
    <th title="All rows in the file had the minimum required fields and fields were of the correct type">loaded</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
  </table>
     <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script>
            $(function() {
                $.getJSON('log.json',
                    function(json) {
                    var tr;
                    for(var i = 0; i< json.length; i++){
                        tr = $('<tr>');
                        var row = json[i];
                        var fields = ["hpo_id", "table_name", "file_name"];
                        var checks = ["found", "parsed", "loaded"];
                        for(var j = 0; j < fields.length; j ++ ){
                            tr.append("<td align='left'>" + row[fields[j]] + "</td>");
                        };
                        for(var j = 0; j < checks.length; j ++ ){
                            if( row[checks[j]]){
                              tr.append("<td align='left'> &#10004; </td>");
                            }
                            else{
                              var message = String(row['message']) ;
                              tr.append( '<td align="left" data-toggle="tooltip" title= "' + message + '"> &#10006;</td>');
                            }
                        };
                        $('#tb').append(tr)
                    };
                });
            });
        </script>
{% endblock filler%}
