google-api-core
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-bigquery
google-cloud-core
google-resumable-media
googleapis-common-protos
numpy
pandas
pandas-gbq
pydata-google-auth
tqdm
